.section  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section .wrapper{
    margin: 10%;
    width: 79vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

