{% extends "blog/base_2.html" %}
{% block content %}
    <div class="alert alert-info" style=" margin: 10% 0;
    align-content: center;
    top:50%;
    text-align: center;
    width: 100%;">
        Your password has been set.     <a style="margin-left: 2rem;" href="{% url 'login' %}">   Sign In Here</a>
    </div>

{% endblock content %}
{% block js %}
    <script>
 let footer = document.getElementById('footer');
 console.log(footer);

    footer.style.display = 'none';

</script>
{% endblock %}