{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>projet PFE-équipe</title>
    <link rel="stylesheet" href="{% static 'blog/team.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">

</head>

<body>
    <div class="title">
        <h1>Notre Équipe</h1>
        <p>Nos membres s’impliquent corps et âme dans ce qui les passionne le plus : la performance. <br> Notre équipe valorise le respect mutuel et les relations durables, et nous espérons que vous partagez notre vision. <br> nous sommes fiers de vous présenter notre famille d'étudiants travaillant sur ce projet!</p>
    </div>

    <div class="team-row">
        
        <div class="profile notmine">
            <h4>HALLOU<br>ABDELLAH</h4>
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHY9B9wjMLk3Q/profile-displayphoto-shrink_800_800/0/1605308554350?e=1625097600&v=beta&t=9AhTXwX6JifT2CqlpZ7LHHB-nEF_KrS8eRMKRNAAkFo" alt="ABDELLAH">
            <div class="social">
                <a href="mailto: abdeallahhallou33@gmail.com?subject= Projet de fin d'étude" target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="https://www.instagram.com/abdo_hll/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/abdellah-hallou-176710143" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>"La vie non examinée ne vaut pas la peine d'être vécue."</p>
        </div>

        <div class="profile notmine">
            <h4>GOUHI<br>HAYAT</h4>
            <img src="https://t4.ftcdn.net/jpg/04/10/43/77/360_F_410437733_hdq4Q3QOH9uwh0mcqAhRFzOKfrCR24Ta.jpg" alt="HAYAT">
            <div class="social">
                <a href="mailto: gouhihayat4@gmail.com?subject= Projet de stage d'initiation" target="_blank"><i class="fa fa-envelope"></i></a>
                <i class="fa fa-instagram"></i>
                <a href="https://www.linkedin.com/in/hayat-gouhi-07a094206" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>"C'est à force de forger qu'on devient forgeron."</p>
        </div>

        <div class="profile notmine">
            <h4>LECHGAR<br>TAHA</h4>
            <img src="{% static 'blog/images/Taha.jpg' %} " alt="TAHA">
            <div class="social">
                <a href="mailto: tahamr08@gmail.com?subject= Projet de stage d'initiation" target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="https://www.instagram.com/taha.lechgar/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/taha-lechgar-327582206" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>"Je préfère faire des erreurs que de ne rien faire du tout."</p>
        </div>
    </div>

</body>

</html>